<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <h3>
    <%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %>
    - <%= link_to "Edit Shelter", "/shelters/#{shelter.id}" %>
    - <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %>
  </h3>

<% end %></br>

<%= link_to "New Shelter", "/shelters/new" %>
